.navigation {
    display:flex;
    justify-content: space-between;
    align-items :center;
    padding : 10px 20px;
    background-color: rgb(1, 30, 58);
    background-image: url('images/photo.jpg');
      
}
.title {
    font-size: 22px;
    color: white
}
.site-nav a {
    margin-left: 20px;
    text-decoration: none;
    color:white;
    text-decoration: none;
}
.site-nav {
    display: flex;
}
main {
  background-color: rgb(1, 53, 71);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 40px;
  color: rgb(244, 247, 246);
  min-height: 400px; 
}
